<div class="hero bg-base-200 rounded-lg p-6">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Collection</h1>

      <p class="py-6">
        Browse the entire collection. Click the theme to filter by themes such
        as:
        <a href="/lego/sets?theme=avengers" class="btn btn-primary btn-xs"
          >Avengers</a
        >
        <a href="/lego/sets?theme=creator" class="btn btn-primary btn-xs"
          >Creator</a
        >
        <a href="/lego/sets?theme=batman" class="btn btn-primary btn-xs"
          >Batman</a
        >
      </p>
    </div>
  </div>
</div>
<br />
<div class="overflow-x-auto overflow-y-hidden">
  <table class="table table-zebra">
    <!-- head -->
    <tbody>
      <% sets.forEach((set) => { %>
      <tr>
        <td>
          <div class="avatar">
            <div
              class="w-32 h-32 rounded-lg bg-transparent bg-no-repeat bg-cover"
              style="background-image: url('https://cdn.rebrickable.com/media/sets/76078-1.jpg')"
            ></div>
          </div>
        </td>

        <td>
          <%= set.name %>
          <a href="/lego/sets?theme=<%= set.theme %>" class="btn mt-2 btn-xs"
            ><%= set.theme %></a
          >
        </td>

        <td>
          <span class="font-bold">Year: </span> <%= set.year %>
          <span class="font-bold">Parts:</span> <%= set.num_parts %>
        </td>
        <th>
          <a href="/lego/sets/<%= set.set_num %>" class="btn btn-xs">details</a>
        </th>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
